#ifndef _{{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_API_H
#define _{{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_API_H

#define {{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_BASE_PATH "{{basePath}}"
#define {{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_API_NAME "{{appName}}"
#define {{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_API_VERSION "{{appVersion}}"
#define {{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_API_DESCRIPTION "{{appDescription}}"

#endif /* _{{#lambda.uppercase}}{{projectName}}{{/lambda.uppercase}}_API_H */
