{
  "name": "Big Buck Bunny",
  "entryPointPath": "BigBuckBunny_4s_onDemand_2014_05_09.mpd",
  "ingestConfiguration": {
    "pull": true,
    "protocol": "urn:3gpp:5gms:content-protocol:http-pull-ingest",
    "baseURL": "https://ftp.itec.aau.at/datasets/DASHDataset2014/BigBuckBunny/4sec/"
  },
  "distributionConfigurations": [
    { "certificateId": "@certificate-id@" }
  ]
}
