name: Build Application Function

on:
  push:
    branches: [ development ]
  schedule:
    - cron: '0 0 * * 0' # Executes every Sunday at midnight UT
jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          check-latest: true
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install ninja-build build-essential flex bison git libsctp-dev libgnutls28-dev libgcrypt-dev libssl-dev libidn11-dev libmongoc-dev libbson-dev libyaml-dev libnghttp2-dev libmicrohttpd-dev libcurl4-gnutls-dev libnghttp2-dev libtins-dev libtalloc-dev meson curl wget default-jdk
          python -m pip install build
      - name: Build
        run: |
          meson build
          ninja -C build
      - name: Install
        working-directory: build
        run : sudo meson install --no-rebuild
      - name: Run
        run: /usr/local/bin/open5gs-msafd -h